
{% extends "layouts/base.html" %}
<!-- Extends base layout -->

{% block content %}
<!-- Content block -->


{% include 'components/hero/hero-alt.html' %}

{% include "components/areaserved/areapage.html" %}
{% include "components/areaserved/description.html" %}
{% include "components/reusable/map.html" %}
{% include "components/areaserved/servicecard.html" %}
{% include "components/areaserved/requestquote.html" %}
{% include "components/areaserved/explorelocation.html" %}

{% endblock %}
<!-- End content block -->