{% extends "layouts/base.html" %}
<!-- Extends the base layout -->

{% block content %}
<!-- Start of content block -->

{% include 'components/hero/hero-alt.html' %}
<!-- Includes the alternative hero section -->

{% include "components/areaserved/areapage.html" %}
<!-- Includes the area page section -->

{% include "components/areaserved/description.html" %}
<!-- Includes the description section -->

{% include "components/reusable/map.html" %}
<!-- Includes the map section -->

{% include "components/areaserved/servicecard.html" %}
<!-- Includes the service card section -->

{% include "components/areaserved/requestquote.html" %}
<!-- Includes the request a quote section -->

{% include "components/areaserved/explorelocation.html" %}
<!-- Includes the explore location section -->

{% endblock %}
<!-- End of content block -->
