{% extends "layouts/base.html" %}
<!-- Extends the base layout -->

{% block content %}
<!-- Start of content block -->

{% include 'components/hero/hero.html' %}
<!-- Includes the hero section -->

{% include 'components/home/line.html' %}
<!-- Includes the line section -->

{% include 'components/home/contentsection.html' %}
<!-- Includes the content section -->

{% include 'components/home/worksection.html' %}
<!-- Includes the work section -->

{% include 'components/home/bannerandblog.html' %}
<!-- Includes the banner and blog section -->

{% endblock %}
<!-- End of content block -->
