{% extends "layouts/base.html" %}
<!-- Extends the base layout -->

{% block content %}
<!-- Start of content block -->

{% include "components/service/about.html" %}
<!-- Includes the about service section -->

{% include "components/service/pastwork.html" %}
<!-- Includes the past work section -->

{% include "components/service/expert.html" %}
<!-- Includes the expert section -->

{% include "components/service/booknow.html" %}
<!-- Includes the book now section -->

{% endblock %}
<!-- End of content block -->
