<section class="py-12 px-4">
    <div class="max-w-screen-xl mx-auto text-center">
      <h2 class="text-3xl font-semibold text-gray-800 mb-4">{{ book_now_title }}</h2>
      <p class="text-lg text-gray-600 mb-8">{{ book_now_description }}</p>
  
      <!-- Call to Action Button -->
      <a href="{{ book_now_button_link }}" class="inline-block bg-Brandcolor text-white font-semibold py-3 px-6 text-lg transition-all hover:bg-BrandcolorHover">
        {{ book_now_button_text }}
      </a>
    </div>
  </section>
  