
<!-- content-section -->
<div class="content-section ">
    <!-- Left Side Content -->
    <div class="content-sectionl2">
        <div class="absolute inset-0 opacity-75"></div> 
        <div class="relative  bg-Brandcolor  z-10">
            <h2 class="content-section-heading">{{contentsection_heading}}</h2>
            <p class="content-section-sub">
                {{contentsection_sub}}
            </p>
        </div>
    </div>

    <!-- Right Side (Hidden on smaller screens) -->
    <div class="hidden sm:block w-1/2 rightside"></div>
</div>
